/* skills */
.skill{
    font-size: 18px;
    font-weight: bold;
    background: #dd2b31;
    color: #f6f9ff;
    text-decoration: none;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  
  
  .skill-sec {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px 0;
    margin-right: 1px;
  }
  
  .skill-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align:center;
    font-family: 'ADLaM Display', cursive;
    margin-bottom: 30px;
    font-weight: bold;
    color: #393d44;
    position: relative;
  }
  
  .skill-container h1::after{
    content:'';
    background: #dd2b31;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  
  .category {
    margin-bottom: 20px;
  }
  
  .category-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .skill-category {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .skill-name {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 10px;
  }
  
  .skill-bar {
    height: 20px;
    background-color: rgb(165, 47, 47); /* Gray background */
    border-radius: 10px;
    animation: animate-bar 2s;
  }
  
  @keyframes animate-bar {
    0% { width: 0; }
  }
  
  @media (max-width: 600px) {
    .skill-sec {
      width: 90%;
      margin: 50px auto;
    }
  }
  
  /* skills end */